<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website de Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/image/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="login">
        <h1>Faça seu <span>Login!</span></h1>
        <div class="login-box">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Digite seu email" required>

            <label for="password">Senha</label>
            <input type="password" id="password" placeholder="Digite sua senha" required>

            <a href="#" class="link">Esqueci minha senha</a>
            <button class="btn" id="loginBtn">Entrar</button>

            <div class="signup">
                <a href="/register" class="link">Ainda não tenho uma conta</a>
            </div>
        </div>
        <div class="footer">
            2025 | Desenvolvido por <a href="https://github.com/ADMITO-MITO">Paulo Victor Pinheiro</a>
        </div>
    </div>

    <div class="image-container"></div>
    <script src="/static/scrip.js"></script>
</body>
</html>